version: '3'
services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "80:8000"  
    volumes:
      - ./api:/var/www/html
    environment:
      - APP_ENV=dev
      - DATABASE_URL="mysql://root:root@127.0.0.1:3306/everymeeting?serverVersion=8.1.0&charset=utf8mb4"  
    depends_on:
      - db
    networks:
      - mynetwork

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  
    volumes:
      - ./client:/var/www/client
    environment:
      - REACT_APP_API_URL=http://api:80 
      - WATCHPACK_POLLING=true
    depends_on:
      - api
    networks:
      - mynetwork

  db:
    image: mysql:latest 
    ports:
      - "3306:3306"   
    environment:
      MY_SQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: everymeeting
    networks:
      - mynetwork
    volumes:
      - "my-volume:/var/lib/mysql"
    
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "8080:80"  
    environment:
      - PMA_HOST=db
    networks:
      - mynetwork

networks:
  mynetwork:

volumes:
  my-volume:
