# name: Run tests for pull request

# on:
#   pull_request:
#     branches: 
#       - dev

# jobs:

#   tests-on-client:
#     runs-on: ubuntu-latest
#     defaults:
#         run:
#             working-directory: client

#     steps:

#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Run ESLint and Prettier on Ubuntu  
#         run: |
#             echo "test Lint et Prettier on Ubuntu"
#             npm install
#             npm run format
#             npm run lint

#   tests-on-api:
#     runs-on: ubuntu-latest
#     env:
#         DB_USER: root
#         DB_PASSWORD: root
#         DB_NAME: everymeeting
#         DB_HOST: localhost
#         DATABASE_URL: "mysql://root:root@localhost:3306/everymeeting?serverVersion=8.1.0&charset=utf8mb4"
#     defaults:
#         run:
#             working-directory: api

#     steps:

#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Start MySQL
#         run: |
#             sudo /etc/init.d/mysql start
#             mysql -e 'CREATE DATABASE IF NOT EXISTS caterflow;' -uroot -proot

#       - name: Install Symfony CLI
#         run: |
#             wget https://get.symfony.com/cli/installer -O - | bash
#             sudo mv /home/runner/.symfony5/bin/symfony /usr/local/bin/symfony

#       - name: Setup PHP with Xdebug
#         uses: shivammathur/setup-php@v2
#         with:
#             php-version: "8.3"
#             coverage: xdebug

#       - name: Check Security on Ubuntu  
#         run: |
#             echo "test security on Ubuntu"
#             composer install
#             symfony check:security

#       - name: Code Sniffer on Ubuntu
#         run: |
#             echo "test Code Sniffer on Ubuntu"
#             php ./vendor/bin/phpcs
#             php ./vendor/bin/phpcbf

      
#       - name: phpunit
#         run: |   
#             php ./vendor/bin/phpunit --testdox --coverage-text --coverage-clover=coverage.xml
            
