name: Run pull request

on:
  pull_request:
    branches: [main]

jobs:
    
  test-on-Ubuntu-OS:
    runs-on: ubuntu-latest

    steps:
      - name: Run ESLint and Prettier on Ubuntu  
        run: |
          echo "test Lint et Prettier on Ubuntu"
          cd client
          npm run format
          npm run lint

      - name: Check Security on Ubuntu  
        run: |
          echo "test security on Ubuntu"
          cd api
          symfony check:security

      - name: Code Sniffer on Ubuntu
        run: |
          echo "test Code Sniffer on Ubuntu"
          cd api
          php ./vendor/bin/phpcs
          php ./vendor/bin/phpcbf

  test-on-Windows-OS:
    runs-on: windows-latest

    steps:
      - name: Run ESLint and Prettier on Windows 
        run: |
          echo "test Lint et Prettier"
          cd client
          npm run format
          npm run lint

      - name: Check Security on Windows   
        run: |
          echo "test security"
          cd api
          symfony check:security

      - name: Code Sniffer on Windows 
        run: |
          echo "test Code Sniffer"
          cd api
          php .\vendor\bin\phpcs
          php .\vendor\bin\phpcbf

  test-on-Macos-OS:
    runs-on: macos-latest

    steps:
      - name: Run ESLint and Prettier on MacOS  
        run: |
          echo "test Lint et Prettier on MacOS"
          cd client
          npm run format
          npm run lint

      - name: Check Security on MacOS  
        run: |
          echo "test security on MacOS"
          cd api
          symfony check:security

      - name: Code Sniffer on MacOS 
        run: |
          echo "test Code Sniffer on MacOS"
          cd api
          php ./vendor/bin/phpcs
          php ./vendor/bin/phpcbf

