name: Run tests for pull request

on:
  pull_request:
    branches: 
      - main

jobs:

  tests-on-client:
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: client

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run ESLint and Prettier on Ubuntu  
        run: |
            echo "test Lint et Prettier on Ubuntu"
            npm install
            npm run format
            npm run lint

  tests-on-api:
    runs-on: ubuntu-latest
    env:
        MYSQL_USER: root
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: everymeeting
        DATABASE_URL: "mysql://root:root@db:3306/everymeeting?serverVersion=8.1.0&charset=utf8mb4"
    defaults:
        run:
            working-directory: api

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Symfony CLI
        run: |
            wget https://get.symfony.com/cli/installer -O - | bash
            sudo mv /home/runner/.symfony5/bin/symfony /usr/local/bin/symfony

      - name: Check Security on Ubuntu  
        run: |
            echo "test security on Ubuntu"
            composer install
            symfony check:security

      - name: Code Sniffer on Ubuntu
        run: |
            echo "test Code Sniffer on Ubuntu"
            php ./vendor/bin/phpcs
            php ./vendor/bin/phpcbf

      - name: Start MySQL
        run: |
            sudo /etc/init.d/mysql start
            mysql -e 'CREATE DATABASE IF NOT EXISTS caterflow;' -uroot -proot
            php ./vendor/bin/phpunit
            