name: Run tests for pull request

on:
  pull_request:
    branches: 
      - main

jobs:

  tests-on-client:
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: client

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run ESLint and Prettier on Ubuntu  
        run: |
          echo "test Lint et Prettier on Ubuntu"
          npm install
          npm run format
          npm run lint

  tests-on-api:
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: api

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Symfony CLI
        run: |
          wget https://get.symfony.com/cli/installer -O - | bash
          sudo mv /home/runner/.symfony5/bin/symfony /usr/local/bin/symfony

      - name: Check Security on Ubuntu  
        run: |
          echo "test security on Ubuntu"
          composer install
          symfony check:security

      - name: Code Sniffer on Ubuntu
        run: |
          echo "test Code Sniffer on Ubuntu"
          php ./vendor/bin/phpcs
          php ./vendor/bin/phpcbf

#   test-on-Windows-OS:
#     runs-on: windows-latest

#     steps:

#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Run ESLint and Prettier on Windows 
#         run: |
#           echo "test Lint et Prettier"
#           cd client
#           npm run format
#           npm run lint

#       - name: Check Security on Windows   
#         run: |
#           echo "test security"
#           cd api
#           symfony check:security

#       - name: Code Sniffer on Windows 
#         run: |
#           echo "test Code Sniffer"
#           cd api
#           php .\vendor\bin\phpcs
#           php .\vendor\bin\phpcbf

#   test-on-Macos-OS:
#     runs-on: macos-latest

#     steps:

#       - name: Checkout code
#         uses: actions/checkout@v2

#       - name: Run ESLint and Prettier on MacOS  
#         run: |
#           echo "test Lint et Prettier on MacOS"
#           cd client
#           npm run format
#           npm run lint

#       - name: Check Security on MacOS  
#         run: |
#           echo "test security on MacOS"
#           cd api
#           symfony check:security

#       - name: Code Sniffer on MacOS 
#         run: |
#           echo "test Code Sniffer on MacOS"
#           cd api
#           php ./vendor/bin/phpcs
#           php ./vendor/bin/phpcbf

